<nav class="navbar">
  <div class="navbar-brand">
    <a href="{{ '/' | relative_url }}" class="navbar-title">{{ site.title }}</a>
  </div>
  
  <ul class="navbar-nav">
    {% capture site_text %}
    {% include_relative ../contents/site.md %}
    {% endcapture %}
    {% assign lines = site_text | split: "\n" %}
    {% assign menu_raw = "" %}
    {% for line in lines %}
      {% if line contains "# " %}
        {% assign title = line | remove: "# " | strip %}
        {% assign url = title | downcase | replace: " ", "-" | replace: ".", "" %}
        {% assign menu_raw = menu_raw | append: title | append: "|" | append: url | append: ";;" %}
      {% endif %}
    {% endfor %}
    {% assign menu_items = menu_raw | split: ";;" %}
    {% for item in menu_items %}
      {% if item != "" %}
        {% assign parts = item | split: "|" %}
        <li><a href="#{{ parts[1] }}">{{ parts[0] }}</a></li>
      {% endif %}
    {% endfor %}
    <li><a href="https://github.com/pirahansiah">github</a></li>
  </ul>
</nav>
